body{
	font-size:14pt;
	font-family:sans-serif;
	line-height:1.2em;
	width:100%;
	padding:10px;
}


input{
	outline:none;
	border:1px solid black;
	font-size:14pt;
}

#results > li{
	clear:both;
}

#results > li > input{
	float:right;
}

.song_title{
	float:left;
}
