.clear {
	clear: both;
}
body {
	font-size: 14pt;
	font-family: sans-serif;
	line-height: 1.2em;
	width: 100%;
	max-width: 480px;
	padding: 10px;
}
input {
	outline: none;
	border: 1px solid black;
	font-size: 14pt;
	padding: 3px;
}
#results > li {
	clear: both;
}
#results > li > .inputs {
	float: right;
	white-space:nowrap;
}
#results > li > .inputs > input{
	float: left;
}
.artist{
	background-color:black;
	color:white;
	padding:3px;
}

.song {
	margin-left: 1em;	
}

.song_title {
	padding: 4px;
	float: left;
}


.sing.queued{
	background-color:green;
}

.sing_later{
	margin-right:0px;
}
