.clear {
	clear: both;
}
html {
	min-height: 100%;
}
body {
	font-size: 14pt;
	font-family: sans-serif;
	line-height: 1.2em;
	width: 100%;
	height: 100%;
	max-width: 480px;
	padding: 10px;
	color: white;
	background-color: #1d1756;
	background-image: -webkit-linear-gradient(top, #1d1756, #0a081c);
	background-image: -moz-linear-gradient(top, #1d1756, #0a081c);
}
header > h1 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 0px 10px white;
}
nav {
	margin-top: 10px;
	margin-bottom: 10px;
}
nav > a {
	color: white;
	display: block;
	float: left;
	width: 32% !important;
	text-align: center;
	margin-left: 2%;
	background-color: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.3);
	text-decoration: none;
	font-weight: bold;
	font-size: 19px;
	padding: 3px;
}
nav > [class^="icon-"]:before {
	font-weight: 100;
	font-size: 0.8em;
	left: -.5em;
	position: relative;
}
nav > .icon-music:before {
	left: -.25em;
}
nav > a:first-child {
	margin-left: 0px;
}
input {
	outline: none;
	border: 1px solid black;
	font-size: 14pt;
	padding: 3px;
}
#search, #search_submit {
	height: 1.5em;
}
#search {
	float: left;
	width: 74%;
	margin-right: 1%;
	margin-top: 2px;
	box-shadow: 0px 0px 3px 0px white;
	font-size: .9em;
}
#search_submit {
	color: white;
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.3);
	text-decoration: none;
	font-weight: bold;
	font-size: 19px;
	padding: 5px;
	line-height: .9em;
}
#results {
	margin-top: 10px;
	clear: both;
	transition : opacity 1.0s ease;
	-webkit-transition : opacity 1.0s ease;
	-moz-transition : opacity 1.0s ease;
}

#results.loading{
	opacity:0.2;
}

#results > li {
	clear: both;
}
#results > li > .inputs {
	float: right;
	white-space: nowrap;
}
#results > li > .inputs > div {
	float: left;
	color: black;
	display: block;
	text-align: center;
	background-color: #a0dae8;
	border: 1px solid rgba(255,255,255,0.3);
	box-shadow: 0px 0px 3px #eaf5f7;
	text-decoration: none;
	font-weight: bold;
	font-size: 19px;
	padding: 5px;
	line-height: .9em;
}
.artist {
	background-color: black;
	color: #ffe773;
	color: white;
	padding: 3px;
}
.song {
	margin-left: 1em;
}
.song_title {
	padding: 4px;
	float: left;
}
.sing.queued {

}
.sing_later {
	margin-right: 0px;
}
.song > .inputs > input {

}

.popup {
	position: absolute;
	border: 1px solid white;
	width: 90%;
	top: 50px;
	left: 5%;
	background-color: black;
	padding: 10px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transform: translate3d(0px, -500px, 0px);
	-webkit-transform: translate3d(0px, -500px, 0px);
	-moz-transform: translate3d(0px, -500px, 0px);
}
.popup.visible {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
}

.popup > p {
	margin-bottom: 1em;
}

.popup > label {
	float: right;
}
.popup > input {
	float: right;
}
.popup > .inputs {
	clear:both;
	margin-top:1em;
	text-align:center;
}
.popup > .inputs > input {
	max-width:65%;
	margin-left: 10%;
	background-color:black;
	border: 1px solid white;
	color:white;
	font-weight:bold;
	padding:10px;
	box-shadow: 0px 0px 15px white;
	background-image: -webkit-linear-gradient(top, #0a081c, #0e0c20);
	background-image: -moz-linear-gradient(top, #0a081c, #0e0c20);
}
